###Short Test Report:  
Advisor Class: Tested with jUNIT in AdvisorTest class. Tested the methods to add, remove, return advisees. 
Also tested to see that incorrectly formatted id and classYear are not accepted

CourseCatalogue Class: Tested with jUNIT in CourseCatalogueTest class. Tested for add, remove, and return courses.

Text Interface: Tested by running and putting in input and recieving output. 
Tested ability to accept commands to add, remove, and return courses and advisees.
Also tested that incorrectly formatted id and classYear for advisees return an error message.
Tested that incorrect input makes the program repeat the prompt.
Tested that the program allows you to go back to main menus and quit.

Screenshots are uploaded into my moodle response if you'd like to view. I could not understand how to upload screenshots.